<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMElemeAnimationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8457B6081EC03F200081B1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8457B6241EC03F200081B1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8457B62F1EC03F200081B1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
